.hp-form {
  min-width: 40vw;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px 50px 40px 50px;
}

@media (max-width: 600px) {
  .hp-form {
    height: 100vh;
    width: 85vw;
    padding-bottom: 0;
    box-shadow: none;
  }

  .hp-form-title {
    font-size: 1.8rem;
  }

  .hp-form-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media (min-width: 601px) {
  .hp-form-title {
    font-size: 2.5rem;
  }
}

.hp-form-header {
  margin-bottom: 40px;
}

.hp-form-title {
  color: #002ead;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.hp-form-subtitle {
  font-size: 1rem;
  color: #616f86;
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.hp-form-main-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.hp-form-input {
  font-size: 1.1rem;
}

.hp-form-input .MuiInputBase-root {
  border-radius: 0px !important;
}

.hp-form-input-label {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .hp-form-input-double {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 451px) {
  .hp-form-input-double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
  }

  .hp-form-input-double .hp-form-input {
    width: 50%;
  }
}

.form-footer-link {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  color: #002ead;
  font-weight: 500;
  font-style: italic;
}

.form-footer-link:hover {
  cursor: pointer;
}

.hp-form-footer button {
  border-radius: 0px;
}
