.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5vh;
  margin-bottom: 5vh;
}

@media (max-width: 600px) {
  .App {
    padding: 0;
    /* height: 100vh; */
    margin-bottom: 0;
  }
}
